
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCompras.cshtml";
}
@{ 
    DateTime dia = DateTime.Now;
    var hora = dia.Hour;
    string mensaje = "";
    if(hora < 12)
    {
        mensaje = "Buenos días: ";
    }
    if ((hora >= 12) && (hora < 19))
    {
        mensaje = "Buenas tardes: ";
    }
    if (hora >= 19)
    {
        mensaje = "Buenas noches: ";
    }

    string name = Session["usr"].ToString();
}

<h3 style="text-align:right">@mensaje @name</h3>
<br/>
<h1 style="text-align:center">Sección del personal de Compras</h1>
<p style="text-align:center">
    
</p>
<div class="container" style="text-align:center">
    <img src="~/Content/img/comprador.jpg"
         title="Aquí es donde podrás" />
    <h5>
        Aquí podras realizar Creaciones, Ediciones y Eliminaciones
        de la sección de Productos, Categorías y Subcategorías.
    </h5>
</div>


