
@{
    ViewBag.Title = "Catalogo Maquinas";
}

<h1 style="text-align:center">Catalogo de Maquinas</h1>

<div class="row">
    <div class="col-md-4" style="text-align:center">
        <h2>Semiprofecionales</h2>
        <p>
            <img src="~/Content/img/maquina_semi.jpg"
                 width="260"
                 height="330" />
        </p>
        <p><a href="@Url.Action("Index","Home",new {idCat =2,nombre="Confeccion"})" class="btn btn-primary">Ir &raquo;</a></p>
    </div>
    <div class="col-md-4" style="text-align:center">
        <h2>Profesionales</h2>
        <p>
            <img src="~/Content/img/maquina_profe.jpg"
                 width="280"
                 height="330" />
        </p>
        <p><a href="@Url.Action("Index","CatalogoSubcategorias",new {idCat =3,nombre="Costura"})" class="btn btn-primary">Ir &raquo;</a></p>
    </div>
    <div class="col-md-4" style="text-align:center">
        <h2>Accesorios</h2>
        <p>
            <img src="~/Content/img/accesorios.jpg"
                 width="280"
                 height="330" />
        </p>
        <p><a href="@Url.Action("Index","Home",new {idCat =4,nombre="Maquina"})" class="btn btn-primary">Ir &raquo;</a></p>
    </div>
</div>
