@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right" >
        <li style="color: white; font-size: 2rem; font-family: 'Playfair Display'">
            @Html.ActionLink("Bienvenido @" + User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @style = " color: white; font-size:1.5rem;font-family: 'Playfair Display';font-weight:700" })
        </li>
        <li ><a href="javascript:document.getElementById('logoutForm').submit()" style="color: white; font-size: 2rem; font-family: 'Playfair Display'">Cerrar sesión</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav" style="color: white; font-size: 2rem; font-family: 'Playfair Display'">
        <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @style = " color: white; font-size:1.5rem;font-family: 'Playfair Display';font-weight:700" })</li>
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @style = " color: white; font-size:1.5rem;font-family: 'Playfair Display';font-weight:700" })</li>
    </ul>
}
