@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
        string nombre = (string)Session["name"];
        if (nombre=="")
        {
            nombre = (string)Session["correo"];
        }

    <ul class="nav navbar-nav navbar-right" style="color:white">
        <li style="color:white">
            @Html.ActionLink("Hola " + nombre , "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" , @style = "font-size:1.5rem;font-family: 'Playfair Display';font-weight:700;color:white" })</li>
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" , @style = "font-size:1.5rem;font-family: 'Playfair Display';font-weight:700;color:white" })</li>
    </ul>
}
