@{
    ViewBag.Title = "Home Administrador";
}

<hr />
<div class="container text-center" style = "color:black; font-size:40rem;font-family: 'Playfair Display';font-style:italic">
    <h1>MERCERIA.COM</h1>
    <p class="lead">Somos tu mejor opción</p>
</div>
<hr />

<div class="container text-center">
    <h1>Bienvenido Administrador</h1>
    <p class="lead">En esta sección tendrá la oportunidad de crear nuevos registros, editar, eliminar y ver la información de cada registro.</p>
</div>
